hr {
    border-top: 1px solid #ccc;
}
.caption {
    height: inherit;
    overflow: visible !important;
}
pre {
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}
blockquote > h3 {
    text-shadow: 2px 2px 5px #444;
}
body {
    font-size: 150%;
}
.navbar-brand {
    font-size: 150%;
}

.cart, table, table > thead {
  text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(66, 66, 66, 0.08);
}
